[user]
	name = Ryuichi Yamamoto
	email = zryuichi@gmail.com
[core]
	editor = emacs -nw

[github]
	user = r9y9
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	df = diff
	lg = log -p
[push]
	default = simple
