[user]
	name = Ryuichi Yamamoto
	email = zryuichi@gmail.com
[core]
	editor = vim

[github]
	user = r9y9
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	df = diff
	lg = log -p
[push]
	default = simple
[credential]
	helper = cache

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
